@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto:300,400,900");
body {
  font-family: Roboto, sans-serif;
  height: 100%;
  height: 100vh;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

.wrapper {
  height: 100%;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.wrapper.closed {
  display: none;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 22px;
}

.toggle {
  display: block;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.toggle input + div div span:first-child {
  top: 0;
}

.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
  top: 0;
}

.toggle input + div div span:last-child {
  bottom: 0;
}

.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
  bottom: 0;
}

.toggle input + div div span:before, .toggle input + div div span:after {
  content: '';
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-radius .3s ease, -webkit-transform .5s ease;
  transition: border-radius .3s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, border-radius .3s ease;
  transition: transform .5s ease, border-radius .3s ease, -webkit-transform .5s ease;
}

.toggle input + div div span:before {
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translate(1px, 0) scaleX(1.1);
          transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:after {
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate(-1px, 0) scaleX(1.1);
          transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div svg {
  display: block;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, -webkit-transform .5s ease;
}

.toggle input + div svg:nth-child(3) {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.toggle input:checked + div div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle input:checked + div div span:before, .toggle input:checked + div div span:after {
  background: #000000;
}

.toggle input:checked + div div span:first-child:before {
  -webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
          transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:first-child:after {
  -webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
          transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:before {
  -webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
          transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:after {
  -webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
          transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div svg {
  stroke: #000000;
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle input:checked + div svg:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

nav.menu-overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 50;
  position: fixed;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.menu-overlay.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .menu,
nav .sub-menu {
  margin: 0;
  padding: 0;
}

nav .menu-item,
nav .sub-menu,
nav .dropdown-icon {
  border: 0 solid;
}

nav .menu .menu-item {
  display: block;
}

nav .menu .menu-item.has-children,
nav .menu .menu-item.has-children .menu-item {
  position: relative;
}

nav .menu .menu-item a {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu .sub-menu {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  -webkit-transition: visibility .25s, opacity .25s ease-in-out;
  transition: visibility .25s, opacity .25s ease-in-out;
}

nav .menu .sub-menu .menu-item {
  visibility: hidden;
}

nav .menu .menu-item:hover > .sub-menu, nav .menu .menu-item:active > .sub-menu, nav .menu .menu-item:focus > .sub-menu {
  opacity: 1;
  height: auto;
  width: auto;
}

nav .menu .menu-item:hover > .sub-menu,
nav .menu .menu-item:hover > .sub-menu .menu-item, nav .menu .menu-item:active > .sub-menu,
nav .menu .menu-item:active > .sub-menu .menu-item, nav .menu .menu-item:focus > .sub-menu,
nav .menu .menu-item:focus > .sub-menu .menu-item {
  visibility: visible;
}

nav .menu .menu-item > a:hover .dropdown-icon:after, nav .menu .menu-item > a:active .dropdown-icon:after, nav .menu .menu-item > a:focus .dropdown-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .menu .dropdown-icon {
  padding: 1em 1.25em;
  margin: -1em -1em -1em .5em;
  border-width: 0 0 0 1px;
}

nav .menu .dropdown-icon:after {
  content: "+";
  display: block;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

nav .nav--rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}

nav .nav--rtl .menu .dropdown-icon {
  margin: -1em .5em -1em -1em;
  border-width: 0 1px 0 0;
}

nav a.logo {
  font-family: "Caveat Brush";
  font-size: 1.5rem;
  white-space: nowrap;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.darkener {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
}

.landing-container {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-container h1 {
  color: white;
  font-family: "Caveat Brush";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.landing-container .landing-subtitle {
  margin: 0px 1em;
}

.landing-container p {
  margin: 0;
  color: white;
  line-height: 1.5rem;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

/* mobile-small */
/* mobile-large */
/* mobile-small-landscape */
/* mobile-large-landscape */
/* tablet-small-landscape */
/* tablet-large-landscape */
/* tablet-small */
/* tablet-large */
/* desktop-x-small-landscape */
/* desktop-x-small */
/* desktop-small-landscape */
/* desktop-small */
/* desktop-medium-landscape */
/* desktop-medium */
/* desktop-large */
@media all and (min-width: 1281px) {
  .hamburger {
    display: none;
  }
  nav.menu-overlay {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: unset;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav a {
    color: white;
  }
  nav .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  nav .nav .menu > .menu-item {
    border-width: 0 1px 0 0;
  }
  nav .nav .menu > .menu-item > a .dropdown-icon {
    padding-left: 0;
  }
  nav .nav .menu .menu-item:hover > .sub-menu, nav .nav .menu .menu-item:active > .sub-menu, nav .nav .menu .menu-item:focus > .sub-menu {
    width: 225px;
  }
  nav .nav .menu .sub-menu {
    position: absolute;
    z-index: 3000;
    top: 100%;
    left: 0;
    border-width: 0;
  }
  nav .nav .menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }
  nav .nav .menu .dropdown-icon {
    border-width: 0;
    padding: 1em;
  }
  nav .nav--rtl .menu > .menu-item > a .dropdown-icon {
    padding-left: 1em;
    padding-right: 0;
  }
  nav .nav--rtl .menu .sub-menu {
    top: 100%;
    left: auto;
    right: 0;
  }
  nav .nav--rtl .menu .sub-menu .sub-menu {
    left: auto;
    right: 100%;
  }
  nav .nav--cen .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* desktop-xlarge */
/*# sourceMappingURL=style.css.map */