@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto:300,400,900");
.html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #ff7a28;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  color: #f3c034;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

.wrapper.closed {
  display: none;
}

footer {
  background: #282828;
  color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  font-size: .9rem;
  width: 100%;
  text-align: center;
  padding: 5em 0;
  -webkit-box-shadow: inset 0px 0px 129px -29px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 129px -29px rgba(0, 0, 0, 0.75);
}

footer .footer-item {
  width: 80%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin-top: 2em;
}

footer .footer-container .social-icons {
  width: 33%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .social-icons i {
  font-size: 1.5rem;
}

footer .footer-container a {
  color: #f8f8f8;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

footer .footer-container a:hover, footer .footer-container a:focus {
  color: #f3c034;
}

.primaryBtn {
  background: transparent;
  color: #f8f8f8;
  padding: .66em 1.66em;
  border: 2px solid #f8f8f8;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.primaryBtn:focus, .primaryBtn:hover {
  background: #f8f8f8;
  color: #282828;
}

.em {
  font-style: italic;
  color: #ff7a28;
}

.header-container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.425);
}

.header-container:after {
  content: "";
  position: absolute;
  background: #282828 url(../assets/images/highAtlas.JPG) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header-container .header {
  color: #f8f8f8;
  width: 80%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.66rem;
}

.header-container .subheader {
  margin: 0;
  margin-top: 5px;
  color: #f8f8f8;
  text-align: center;
  font-size: .5em;
  text-transform: uppercase;
  width: 80%;
}

.header-container.daytrips:after {
  background: #282828 url(../assets/images/daytripsMarrakech.JPG) no-repeat;
  background-size: cover;
}

.header-container.daytrips2:after {
  background: #282828 url(../assets/images/DSC_0028.JPG) no-repeat;
  background-size: cover;
}

.header-container.bougmaze:after {
  background: #282828 url(../assets/images/DSC_0102.JPG) no-repeat;
  background-size: cover;
}

.header-container.selfie:after {
  background: #282828 url(../assets/images/selfie.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section aside {
  display: block;
  background-color: #f8f8f8;
}

section aside .aside-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0;
}

section aside .aside-container h2 {
  color: #ff7a28;
  font-family: "Caveat Brush";
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 10px;
}

section aside .aside-container .overview {
  padding: .66em 0;
  color: #282828;
  width: 80%;
}

section aside .aside-container .overview .overview-item {
  font-size: 1.2em;
  font-weight: 300;
}

section aside .aside-container .overview .overview-item i {
  color: #282828;
  margin-right: 1em;
  font-size: 1em;
  -webkit-transition: .5s;
  transition: .5s;
}

section aside .aside-container .overview .overview-item i:hover, section aside .aside-container .overview .overview-item i:focus {
  color: #ff7a28;
}

section aside .aside-container .overview .overview-subitem {
  font-size: .9rem;
  margin-left: 2.7em;
}

section aside .aside-container .overview .overview-subitem.difficulty .colored {
  color: #f3c034;
}

section aside .aside-image {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

section aside .aside-image img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}

section article.intro {
  padding: 0 1rem;
  background: #f8f8f8;
}

section article.intro > p {
  font-size: 1rem;
  text-align: justify;
  padding: 0;
}

section article.intro > p:first-of-type {
  font-size: 1.1rem;
  font-style: italic;
}

section article.intro > p:first-of-type::first-letter {
  font-size: 200%;
  font-style: normal;
  color: #ff7a28;
  font-weight: 600;
}

section article .article-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  color: #282828;
}

section article .article-container .article-item:nth-child(even) {
  background-color: #282828;
  color: #f8f8f8;
  -webkit-box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);
}

section article .article-container .article-item:nth-child(even) h3 {
  color: #f3c034;
}

section article .article-container .article-item {
  width: 100%;
  padding: 5rem 0;
}

section article .article-container .article-item h3,
section article .article-container .article-item p {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: .5em 0;
}

section article .article-container .article-item p {
  text-align: justify;
}

section article .article-container .article-item h3 {
  font-size: 1.8rem;
}

section.about {
  color: #282828;
}

section.about .grid {
  margin: 3rem 0;
}

section.about .container {
  padding: 0 1.5rem;
}

section.about .container h3 {
  padding: 5rem 0;
  font-size: 3rem;
  margin: 0;
}

section.about .container > p {
  text-align: justify;
  margin: 1rem 0;
}

section.about .container > p:first-of-type {
  font-size: 1.1rem;
  font-style: italic;
}

section.about .container > p:first-of-type .container {
  padding: 0 1.5rem;
}

section.about .container > p:first-of-type .container h3 {
  padding: 5rem 0;
  font-size: 3rem;
  margin: 0;
}

section.about .container > p:first-of-type .container > p {
  text-align: justify;
  margin: 1rem 0;
}

section.about .container > p:first-of-type .container > p:first-of-type {
  font-size: 1.1rem;
  font-style: italic;
}

section.about .container > p:first-of-type .container > p:first-of-type::first-letter {
  font-size: 200%;
  font-style: normal;
  color: #ff7a28;
  font-weight: 600;
}

section.about .container > p:first-of-type::first-letter {
  font-size: 200%;
  font-style: normal;
  color: #ff7a28;
  font-weight: 600;
}

section.about .container > p:last-of-type {
  margin-bottom: 3rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem 0;
  width: 100%;
}

.card {
  background-color: #f8f8f8;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card .card-header {
  background: #ffeee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 1rem 0;
}

.card .card-header .card-image {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ff7a28;
  margin-bottom: 1em;
}

.card .card-header .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.card .card-header .card-subheader {
  width: 100%;
}

.card .card-header .card-subheader p {
  text-align: center;
  font-size: .66rem;
  font-style: italic;
  margin: 0;
  padding: 0 3rem;
}

.card .card-body {
  padding: 1rem;
}

.card .card-body p {
  text-align: justify;
}

.card .card-body p:first-of-type::first-letter {
  font-size: 200%;
  font-style: normal;
  color: #ff7a28;
  font-weight: 600;
}

main {
  color: #282828;
  background: #f8f8f8;
  padding-bottom: 3rem;
}

main .main-container {
  padding: 1.5rem;
}

main .main-container:last-of-type {
  padding-bottom: 0;
}

main .main-container:first-of-type p:first-of-type::first-letter {
  font-size: 200%;
  color: #ff7a28;
  font-weight: 600;
}

main h2 {
  font-size: 3rem;
  margin: 0;
  padding: 2.5rem 0;
}

main h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2rem;
  line-height: 2rem;
}

main p {
  text-align: justify;
}

main .block-image {
  width: 100%;
  height: 33vh;
  overflow: hidden;
}

main .block-image img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 22px;
}

.toggle {
  display: block;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.toggle input + div div span:first-child {
  top: 0;
}

.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
  top: 0;
}

.toggle input + div div span:last-child {
  bottom: 0;
}

.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
  bottom: 0;
}

.toggle input + div div span:before, .toggle input + div div span:after {
  content: '';
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #f8f8f8;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-radius .3s ease, -webkit-transform .5s ease;
  transition: border-radius .3s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, border-radius .3s ease;
  transition: transform .5s ease, border-radius .3s ease, -webkit-transform .5s ease;
}

.toggle input + div div span:before {
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translate(1px, 0) scaleX(1.1);
          transform: translate(1px, 0) scaleX(1.1);
}

.toggle input + div div span:after {
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate(-1px, 0) scaleX(1.1);
          transform: translate(-1px, 0) scaleX(1.1);
}

.toggle input + div svg {
  display: block;
  fill: none;
  stroke: #f8f8f8;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, -webkit-transform .5s ease;
}

.toggle input + div svg:nth-child(3) {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.toggle input:checked + div div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle input:checked + div div span:first-child:before {
  -webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
          transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:first-child:after {
  -webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
          transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:before {
  -webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
          transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div div span:last-child:after {
  -webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
          transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.toggle input:checked + div svg:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

nav.menu-overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282828;
  height: 100%;
  width: 100%;
  z-index: 50;
  position: fixed;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.menu-overlay.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.menu-overlay > .nav-item:first-child {
  padding: 70px 5% 10% 5%;
}

nav.menu-overlay a {
  text-decoration: none;
  color: #f8f8f8;
}

nav.menu-overlay a.logo {
  color: #f8f8f8;
  font-family: "Caveat Brush";
  font-size: 2rem;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 0;
  height: 100%;
  display: inline-block;
  background-color: #282828;
}

nav.menu-overlay .multi-level {
  overflow-y: scroll;
  width: 100%;
  background-color: #282828;
}

nav.menu-overlay .multi-level input[type="checkbox"] {
  display: none;
}

nav.menu-overlay .nav-item {
  overflow-x: hidden;
  width: 100%;
}

nav.menu-overlay .nav-item i {
  color: #f8f8f8;
}

nav.menu-overlay .nav-item ul,
nav.menu-overlay .nav-item li,
nav.menu-overlay .nav-item label {
  list-style: none;
  text-decoration: none;
  color: #f8f8f8;
}

nav.menu-overlay .nav-item:hover {
  cursor: pointer;
}

nav.menu-overlay .nav-item ul {
  display: none;
  margin: 0;
  padding: 0;
}

nav.menu-overlay .nav-item ul label {
  padding-left: 30px;
}

nav.menu-overlay .nav-item ul li a {
  padding: 1em 45px;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.menu-overlay .nav-item ul li a:hover {
  color: #ff7a28;
}

nav.menu-overlay .nav-item input:checked ~ ul {
  display: block;
}

nav.menu-overlay .nav-item input:checked ~ label {
  background-color: #ff7a28;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.menu-overlay .nav-item label {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  font-size: 1.2rem;
  -webkit-transition: none;
  transition: none;
}

nav.menu-overlay .nav-item a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.darkener {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
}

.landing-container {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-container h1 {
  color: white;
  font-family: "Caveat Brush";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

.landing-container .landing-subtitle {
  margin-bottom: 25px;
}

.landing-container p {
  margin: 0;
  color: white;
  line-height: 1.5rem;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

/* mobile-small */
/* mobile-large */
/* mobile-small-landscape */
/* mobile-large-landscape */
/* tablet-small-landscape */
/* tablet-large-landscape */
/* tablet-small */
/* tablet-large */
@media all and (min-width: 601px) and (orientation: portrait) {
  section.about {
    width: 100%;
  }
  section.about .container {
    width: 66%;
    margin: 0 auto;
  }
  section.about .container > p {
    text-align: justify;
    margin: 1.5rem 0;
  }
  section.about .container > p:last-of-type {
    margin-bottom: 5rem;
  }
  section.about .grid {
    margin: 5rem 0;
  }
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    grid-gap: 0 1rem;
  }
}

/* desktop-x-small-landscape */
/* desktop-x-small */
/* desktop-small-landscape */
/* desktop-small */
/* desktop-medium-landscape */
@media all and (min-width: 841px) and (orientation: landscape) {
  section.about {
    width: 100%;
  }
  section.about .container {
    width: 66%;
    margin: 0 auto;
  }
  section.about .container > p {
    text-align: justify;
    margin: 1.5rem 0;
  }
  section.about .container > p:last-of-type {
    margin-bottom: 5rem;
  }
  section.about .grid {
    margin: 5rem 0;
  }
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    grid-gap: 0 1rem;
  }
}

/* desktop-medium */
/* desktop-large */
@media all and (min-width: 1281px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
    padding: 0;
  }
  footer .footer-item {
    width: 100%;
  }
  footer .footer-container {
    width: 100%;
    margin-top: 0;
  }
  footer .footer-container .social-icons {
    width: 200px;
    margin-top: 15px;
  }
  footer .footer-container .social-icons i {
    font-size: 1.8rem;
  }
  section aside {
    padding: 5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50vh;
    position: relative;
  }
  section aside .aside-container {
    background: #ffeee5;
    padding: 1em 0;
    height: 80%;
    position: absolute;
    top: 25%;
    left: 20%;
    width: 33%;
    z-index: 444;
  }
  section aside .aside-container h2 {
    margin-bottom: 1em;
  }
  section aside .aside-container .overview {
    width: 50%;
  }
  section aside .aside-container .overview.difficulty .colored {
    color: #ff7a28;
  }
  section aside .aside-image {
    width: 50%;
    height: 100%;
    margin-right: 20%;
  }
  section article {
    margin-top: 100px;
  }
  section article.intro {
    padding: 10rem 0;
    margin-left: auto;
    margin-right: auto;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section article.intro > p {
    width: 50%;
    margin: .66rem 0;
  }
  section article .article-container .article-item:nth-child(even) {
    background-color: #282828;
    color: #f8f8f8;
    -webkit-box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);
  }
  section article .article-container .article-item:nth-child(even) h3 {
    color: #f3c034;
  }
  section article .article-container .article-item {
    width: 100%;
  }
  section article .article-container .article-item h3,
  section article .article-container .article-item p {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 1em 0;
  }
  section article .article-container .article-item p {
    text-align: justify;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
    padding: 5rem;
  }
  main p {
    padding: .5rem 0;
    margin: 0;
    width: 90%;
  }
  main .main-container {
    width: 50%;
    padding: 0;
  }
  main .block-image {
    position: absolute;
    width: 45%;
    height: 500px;
    top: 3rem;
    bottom: 0;
    right: 5rem;
  }
  .hamburger {
    display: none;
  }
  nav.menu-overlay {
    padding: 1em 0;
    position: fixed;
    z-index: 999;
    height: unset;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  nav.menu-overlay.solid {
    background: #282828;
    padding: 0;
  }
  nav.menu-overlay a.logo {
    font-family: "Caveat Brush";
    font-size: 1.5rem;
    white-space: nowrap;
    text-align: left;
    width: unset;
    padding: 0;
    height: unset;
    color: #f8f8f8;
    background-color: transparent;
  }
  nav.menu-overlay > .nav-item:first-child {
    padding: 0 1em;
  }
  nav.menu-overlay .nav-item {
    overflow-x: unset;
    width: unset;
  }
  nav.menu-overlay .multi-level {
    width: unset;
    min-width: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: unset;
    background: transparent;
  }
  nav.menu-overlay .multi-level .nav-item {
    position: relative;
    min-width: 200px;
  }
  nav.menu-overlay .multi-level .nav-item:hover > ul {
    display: block;
  }
  nav.menu-overlay .multi-level .nav-item ul {
    min-width: 200px;
    display: none;
    position: absolute;
    background-color: #282828;
  }
  nav.menu-overlay .multi-level .nav-item ul label {
    padding-left: 1em;
  }
  nav.menu-overlay .multi-level .nav-item ul ul {
    top: 0;
    left: 100%;
  }
  nav.menu-overlay .multi-level .nav-item ul li a {
    padding: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav.menu-overlay .multi-level .nav-item input:checked ~ ul {
    display: block;
    position: absolute;
  }
  nav.menu-overlay .multi-level .nav-item label {
    font-size: 1rem;
    text-transform: uppercase;
  }
  nav.menu-overlay .multi-level .nav-item label:hover {
    background-color: #ff7a28;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
  main {
    margin: 3rem 0;
  }
}
/*# sourceMappingURL=style.css.map */