// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto:300,400,900');
// CONSTS
$fontMain: Roboto;
$fontTitle: 'Caveat Brush';

// Colors
$orange: rgba(255, 122, 40, 1);
$light: rgba(255, 238, 229, 1);
$white: rgba(247, 245, 244, 1);
$yellow: rgb(243, 192, 52);
$black: rgba(40, 40, 40, 1);


// GENERAL
.html {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: $fontMain, sans-serif;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    position: relative;
    background-color: $white;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 100%;

    margin: 0px auto;

    &.closed {
        display: none;
    }
}

footer {
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: .9rem;
    width: 100%;
    text-align: center;
    padding: 5em 0;
    box-shadow: inset 0px 0px 129px -29px rgba(0, 0, 0, 0.75);


    .footer-item {
        width: 80%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-top: 2em;

        .social-icons {
            width: 33%;
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            i {
                font-size: 1.5rem;
            }
        }

        a {
            color: $white;
            transition: .3s ease;

            &:hover,
            &:focus {
                color: $yellow;
            }
        }
    }
}

.primaryBtn {
    background: transparent;
    color: $white;
    padding: .66em 1.66em;
    border: 2px solid $white;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .3s ease-out;

    &:focus,
    &:hover {
        background: $white;
        color: $black;
    }
}

.em {
    font-style: italic;
    color: $orange;
}

//Pages
.header-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, 0.425);

    &:after {
        content: "";
        position: absolute;
        background: $black url(../assets/images/highAtlas.JPG) no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .header {
        color: $white;
        width: 80%;
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.66rem;
    }

    .subheader {
        margin: 0;
        margin-top: 5px;
        color: $white;
        font-size: .5em;
        text-transform: uppercase;
    }
}

.header-container.daytrips {
    &:after {
        background: $black url(../assets/images/daytripsMarrakech.JPG) no-repeat;
        background-size: cover;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    aside {
        display: block;
        background-color: $white;

        .aside-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2em 0;

            h2 {
                color: $orange;
                font-family: $fontTitle;
                text-transform: uppercase;
                font-size: 1.7rem;
                margin: 0;
                margin-bottom: 10px;
            }

            .overview {
                padding: .66em 0;
                color: $black;
                width: 80%;

                .overview-item {
                    i {
                        color: $black;
                        margin-right: 1em;
                        font-size: 1em;
                        transition: .5s;

                        &:hover,
                        &:focus {
                            color: $orange;
                        }
                    }

                    font-size: 1.2em;
                    font-weight: 300;
                }

                .overview-subitem {
                    font-size: .9rem;
                    margin-left: 2.7em;

                    &.difficulty {
                        .colored {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        .aside-image {
            width: 100%;
            height: 50vh;
            overflow: hidden;

            img {
                object-fit: cover;
                display: block;
                width: 100vw;
                height: 100vh;
            }

        }
    }

    article {
        .article-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            color: $black;

            .article-item:nth-child(even) {
                background-color: $black;
                color: $white;
                box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);

                h3 {
                    color: $yellow;
                }
            }

            .article-item {
                width: 100%;
                padding: 2em 0;

                h3,
                p {
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                    padding: .5em 0;
                }

                p {
                    text-align: justify;
                }

            }
        }
    }
}

main {
    color: $black;
    background: $white;

    .main-container {
        padding: 1.5rem;

        &:last-of-type {
            padding-bottom: 0;
        }

        &:first-of-type {
            p:first-of-type {
                &::first-letter {
                    font-size: 200%;
                    color: $orange;
                }
            }
        }
    }

    h2 {
        font-size: 3rem;
        margin: 0;
        padding: 2.5rem 0;
    }

    p {
        text-align: justify;

    }

    .block-image {
        width: 100%;
        height: 33vh;
        overflow: hidden;

        img {
            object-fit: cover;
            display: block;
            width: 100vw;
            height: 100vh;
        }

    }
}

// NAVIGATION
// ANIMATION BY Aaron Iker
.hamburger {
    position: fixed;
    z-index: 100;
    top: 25px;
    right: 22px;
}

.toggle {
    display: block;
    cursor: pointer;

    input {
        display: none;

        &+div {
            width: 20px;
            height: 14px;
            position: relative;

            div {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: transform .5s ease;

                span {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;

                    &:first-child {
                        top: 0;

                        &:before,
                        &:after {
                            top: 0;
                        }
                    }

                    &:last-child {
                        bottom: 0;

                        &:before,
                        &:after {
                            bottom: 0;
                        }
                    }

                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 47%;
                        height: 2px;
                        border-radius: 1px;
                        background: $white;
                        position: absolute;
                        backface-visibility: hidden;
                        transition: transform .5s ease, border-radius .3s ease;
                    }

                    &:before {
                        left: 0;
                        transform-origin: 0 50%;
                        transform: translate(1px, 0) scaleX(1.1);
                    }

                    &:after {
                        right: 0;
                        transform-origin: 100% 50%;
                        transform: translate(-1px, 0) scaleX(1.1);
                    }
                }
            }

            svg {
                display: block;
                fill: none;
                stroke: $white;
                stroke-width: 2px;
                width: 44px;
                height: 44px;
                stroke-linecap: round;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -22px 0 0 -22px;
                stroke-dasharray: 0 82.801 8 82.801;
                stroke-dashoffset: 82.801;
                transform-origin: 50% 50%;
                -webkit-backface-visibility: hidden;
                transform: scale(1);
                transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease;

                &:nth-child(3) {
                    transform: rotate(180deg) scale(1);
                }
            }
        }

        &:checked+div {
            div {
                transform: rotate(90deg);

                span {

                    &:before,
                    &:after {
                        background: $black;
                    }

                    &:first-child {
                        &:before {
                            transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
                        }

                        &:after {
                            transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
                        }
                    }

                    &:last-child {
                        &:before {
                            transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
                        }

                        &:after {
                            transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
                        }
                    }
                }
            }

            svg {
                stroke: $black;
                stroke-dashoffset: 62;
                stroke-dasharray: 0 82.801 62 82.801;
                transform: rotate(90deg);

                &:nth-child(3) {
                    transform: rotate(270deg);
                }
            }
        }
    }
}

nav {
    &.menu-overlay {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $white;
        height: 100%;
        width: 100%;
        z-index: 50;
        position: fixed;
        transition: .3s;

        &.open {
            display: flex;
        }

        >.nav-item:first-child {
            padding: 70px 5% 10% 5%;
        }

        a {
            text-decoration: none;
            color: $white;

            &.logo {
                color: $black;
                font-family: $fontTitle;
                font-size: 2rem;
                white-space: nowrap;
                text-align: center;
                width: 100%;
                padding: 0;
                height: 100%;
                display: inline-block;
                background-color: $white;
            }
        }

        .multi-level {
            input[type="checkbox"] {
                display: none;
            }

            overflow-y: scroll;
            width: 100%;
            background-color: $black;
        }

        .nav-item {
            width: 100%;

            i {
                color: $white;
            }

            ul,
            li,
            label {
                list-style: none;
                text-decoration: none;
                color: $white;
            }

            &:hover {
                cursor: pointer;
            }

            ul {
                display: none;
                margin: 0;
                padding: 0;

                label {
                    padding-left: 30px;
                }

                li {
                    a {
                        padding: 1em 45px;
                        transition: .3s;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }

            input:checked {
                ~ul {
                    display: block;
                }

                ~label {
                    background-color: $orange;
                    transition: .3s;
                }
            }


            label {
                max-width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1em;
                font-size: 1.2rem;
                transition: none;
            }

            a {
                display: inline-block;
                list-style: none;
                text-decoration: none;
            }
        }
    }
}


// LANDING
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.darkener {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
    position: absolute;
    z-index: 2;
}

.landing-container {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-family: $fontTitle;
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
    }

    .landing-subtitle {
        margin-bottom: 25px;
    }

    p {
        margin: 0;
        color: white;
        line-height: 1.5rem;
        padding: 10px;
        text-align: center;
        font-style: italic;
    }
}

// MEDIA QUERIES

/* mobile-small */
@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {}

/* mobile-large */
@media all and (min-width: 361px) and (orientation: portrait) {}

/* mobile-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {}

/* mobile-large-landscape */
@media all and (min-width: 481px) and (orientation: landscape) {}

/* tablet-small-landscape */
@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {}

/* tablet-large-landscape */
@media all and (min-width: 961px) and (orientation: landscape) {}

/* tablet-small */
@media all and (min-width: 600px) and (orientation: portrait) {}

/* tablet-large */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) {}

/* desktop-x-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {}

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) {}

/* desktop-small-landscape */
@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) {}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) {}

/* desktop-medium-landscape */
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) {}

/* desktop-large */
@media all and (min-width: 1281px) {
    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 25vh;
        padding: 0;

        .footer-item {
            width: 100%;
        }

        .footer-container {
            width: 100%;
            margin-top: 0;

            .social-icons {
                width: 200px;
                margin-top: 15px;

                i {
                    font-size: 1.8rem;
                }
            }
        }
    }

    section {

        aside {
            padding: 5em 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: row;
            height: 50vh;
            position: relative;

            .aside-container {
                background: $light;
                padding: 1em 0;
                height: 80%;
                position: absolute;
                top: 25%;
                left: 20%;
                width: 33%;
                z-index: 444;


                h2 {
                    margin-bottom: 1em;
                }

                .overview {
                    width: 50%;

                    &.difficulty {
                        .colored {
                            color: $orange;
                        }
                    }
                }
            }

            .aside-image {
                width: 50%;
                height: 100%;
                margin-right: 20%;

            }
        }

        article {
            margin-top: 100px;

            .article-container {

                .article-item:nth-child(even) {
                    background-color: $black;
                    color: $white;
                    box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.3);

                    h3 {
                        color: $yellow;
                    }
                }

                .article-item {
                    width: 100%;
                    padding: 2em 0;

                    h3,
                    p {
                        width: 66%;
                        margin: 0 auto;
                        display: block;
                        padding: 1em 0;
                    }

                    p {
                        text-align: justify;
                    }

                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
        padding: 5rem;

        p {
            padding: .5rem;
            margin: 0;
            width: 90%;
        }

        .main-container {
            width: 50%;
            padding: 0;
        }

        .block-image {
            position: absolute;
            width: 45%;
            height: 500px;
            top: 3rem;
            bottom: 2rem;
            right: 5rem;
        }
    }

    .hamburger {
        display: none;
    }

    nav {
        &.menu-overlay {
            padding: 1em 0;
            position: fixed;
            z-index: 999;
            height: unset;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            transition: .3s ease;

            &.solid {
                background: $black;
                padding: 0;
            }

            a {

                &.logo {
                    font-family: $fontTitle;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    text-align: left;
                    width: unset;
                    padding: 0;
                    height: unset;
                    color: $white;
                    background-color: transparent;
                }
            }

            >.nav-item:first-child {
                padding: 0 1em;
            }

            .nav-item {
                width: unset
            }

            .multi-level {
                width: unset;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                overflow-y: unset;
                background: transparent;

                .nav-item {
                    position: relative;
                    min-width: 200px;

                    &:hover {
                        >ul {
                            display: block;
                        }
                    }

                    ul {
                        display: none;
                        position: absolute;
                        width: 100%;
                        background-color: $black;

                        ul {
                            top: 0;
                            left: 100%;
                        }

                        li {
                            a {
                                padding: 1em;
                            }
                        }
                    }

                    input:checked {
                        ~ul {
                            display: block;
                            position: absolute;
                        }
                    }

                    label {
                        font-size: 1rem;
                        text-transform: uppercase;

                        &:hover {
                            background-color: $orange;
                            transition: .3s;
                        }
                    }
                }

            }
        }
    }
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
    main {
        margin: 3rem 0;
    }
}